<div class="grid-container">
  <div [class]="gridClass">
    <div class="cell cell-artist" *ngFor="let artist of potentials | paginate: { itemsPerPage: 20, currentPage: p }">
      <div class="card text-center">
        <div class="card-divider text-center">
          {{ artist.name }}
        </div>
        <a [routerLink]="['/artist', artist.name]" class="text-center">
          <img [src]="artist.image?.extralarge">
        </a>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>
